@media (min-width: 481px) and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  /* header============ */
  .header {
    text-align: center;
  }
  .header h4 {
    font-size: 34px;
  }
  .header span {
    font-size: 20px;
  }
  /* navbar============= */
  #Navbar {
    height: 8vh;
  }
  .navbar-wrapper {
    font-size: small;
    position: relative;
    padding: 10px;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50%;
    right: 0;
    top: 3vh;
    height: 98vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: #100f1b;
    display: none;
  }
  .nav-links li {
    margin-block: 15px;
  }
  /* .navbar ul li {
    opacity: 0;
  } */
  .burger {
    display: block;
    z-index: 10;
  }

  /* about ================*/
  #About {
    padding-top: 30px;
    height: 165vh;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about-description {
    width: 100%;
    padding: 1.5rem;
  }
  .about-wrapper h4 {
    /* font-size: 20px; */
    right: 50%;
  }
  .about-description p {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 35px;
  }
  .about-btn-connect {
    justify-content: center;
    gap: 40px;
  }
  .about-myskill {
    width: 100%;
  }

  /* Project ======================== */
  #Project {
    padding-top: 50px;
    height: 135vh;
  }
  .project-wrapper h4 {
    left: 15%;
  }
  .project-wrapper {
    margin: 1rem;
  }
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-list #project-item {
    width: 30vh;
    height: 34vh;
  }
}
.nav-active {
  transform: translateX(0%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
